@import "../style";

#userInfoUpdateModal{
    width: 40vw;
    .invite-info{
        width: 40vw;
        .invite-pie-chart{
            height: 200px;
        }
    }

    .modal-footer {
        @include setFlexProperties(row, 0, 0, center, center);
    }
}